In [ ]:
# Hash Tables: Ice Cream Parlor

STDIN       Function
-----       --------
2           t = 2
4           money = 4
5           cost[] size n = 5
1 4 5 3 2   cost = [1, 4, 5, 3, 2]
4           money = 4
4           cost[] size n = 4
2 2 4 3     cost = [2, 2, 4, 3]

In [ ]:
# Swap Nodes [Algo]

                                Depth
    1               1            [1]
   / \             / \
  2   3     ->    3   2          [2]
   \   \           \   \
    4   5           5   4        [3]

In [ ]:
3
2 3
-1 -1
-1 -1
2
1
1

In [ ]:
    1   [s]       1    [s]       1   
   / \      ->   / \        ->  / \  
  2   3 [s]     3   2  [s]     2   3

In [ ]:
5
2 3
-1 4
-1 5
-1 -1
-1 -1
1
2

In [ ]:
    1                  1  
   / \                / \ 
  2   3   [s]  ->    2   3
   \   \            /   / 
    4   5          4   5

In [ ]:
11
2 3
4 -1
5 -1
6 -1
7 8
-1 9
-1 -1
10 11
-1 -1
-1 -1
-1 -1
2
2
4

In [ ]:
# Swap Nodes [Algo]

                                Depth
    1               1            [1]
   / \             / \
  2   3     ->    3   2          [2]
   \   \           \   \
    4   5           5   4        [3]

In [ ]:
3
2 3
-1 -1
-1 -1
2
1
1

In [ ]:
    1   [s]       1    [s]       1   
   / \      ->   / \        ->  / \  
  2   3 [s]     3   2  [s]     2   3

In [ ]:
5
2 3
-1 4
-1 5
-1 -1
-1 -1
1
2

In [ ]:
    1                  1  
   / \                / \ 
  2   3   [s]  ->    2   3
   \   \            /   / 
    4   5          4   5

In [ ]:
11
2 3
4 -1
5 -1
6 -1
7 8
-1 9
-1 -1
10 11
-1 -1
-1 -1
-1 -1
2
2
4

In [ ]:
# Pairs

STDIN       Function
-----       --------
5 2         arr[] size n = 5, k =2
1 5 3 4 2   arr = [1, 5, 3, 4, 2]

In [ ]:
# Triple sum

3 2 3
1 3 5
2 3
1 2 3

In [ ]:
3 3 3
1 4 5
2 3 3
1 2 3

In [ ]:
4 3 4
1 3 5 7
5 7 9
7 9 11 13

In [ ]:
# Minimum Time Required

Day Production  Count
2   2               2
3   1               3
4   2               5
6   3               8
8   2              10

In [ ]:
2 5
2 3

In [ ]:
3 10
1 3 4

In [ ]:
3 12
4 5 6